
  
  .sidenav {
    height: 100%;
    width: 250px;
    position: relative;
    z-index: 0;
    /*top: 55px;*/
    left: 0;
    background-color: #425efd;
    overflow-x: hidden;
    transition: 0.5s;
    display: block;
    align-self: flex-start;
  }
  
  .sidenav a {
    padding: 10px;
    text-decoration: none;
    font-size: 25px;
    color: #000000;
    display: block;
  }
  
  .sidenav a:hover{
    background-color: #2d3d97;
    color: #ffffff;
  }
  #main {
    padding: 16px;
  }

  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
 