<div class="flexbox-row" style="margin-top: 30px">
    <ng-container *ngIf="globalAnnouncement | async as announcement">
        <ckeditor [editor]="Editor" [data]="editorData ? editorData : announcement.content" (change)="onChange($event)"></ckeditor>
        <span>
            <button (click)="editAnnouncement()" class="btn btn-primary" style="margin-right: 15px">Submit</button>
            <a routerLink="/" class="btn btn-secondary" style="margin-left: 15px"><i class="fas fa-arrow-circle-left"></i> Go back</a>
        </span>
        <hr>
        <h2>Announcement Preview</h2>
        <div [innerHTML]="editorData ? editorData : announcement.content" style="margin-top: 30px;" class="custom-font"></div>
    </ng-container>
    <!--<app-home-content [html]="editorData"></app-home-content>-->
</div>
