<div class="center-form" style="position: relative">

    <h2>Dashboard</h2>

    <ng-container *ngIf="listCourses | async; else elseBlock">
        <!--<button type="button" (click)="toggleDropCourse()" class="btn btn-danger btn-sm">Toggle Course Drop</button>-->
        <div class="row">
            <ng-container *ngFor="let course of listCourses | async; let index = index">
                <ng-container *ngIf="course.enrollment_status == 'enrolled'">
                    <button *ngIf="index == 0" type="button" (click)="toggleDropCourse()" class="btn btn-danger btn-sm center-form" style="position: absolute; top: 5px; left: 20px;">Toggle Course Drop</button>
                    <button *ngIf="index == 0 && isAdmin" type="button" (click)="createAnnouncement()" [disabled]="checkedCourses.length <= 0" class="btn btn-success btn-sm center-form" [ngClass]="{ 'hideInfo': checkedCourses.length <= 0 }" style="position: absolute; top: 5px; left: 170px;"
                     placement="bottom" ngbTooltip="Click on courses (cards) to broadcast announcements to">Create Announcement
                    </button>
                    <button *ngIf="index == 0 && isAdmin" placement="bottom" ngbTooltip="Click on courses (cards) to broadcast announcement to" class="btn btn-success btn-sm center-form"
                     [ngClass]="{ 'hideInfo': checkedCourses.length > 0 }" [disabled]="checkedCourses.length > 0" style="position: absolute; top: 5px; left: 170px;"
                     triggers="click:blur">
                     add announcement info
                    </button>
                    <a *ngIf="index == 0 && isAdmin" routerLink="/courses/view-created-announcements" class="btn btn-info btn-sm center-form" style="position: absolute; top: 5px; left: 335px;">Manage Announcements
                    </a>
                    <div class="col">
                        <div class="card" style="max-width: 18rem;" (click)="checkBox(index, course.course_id)" [class]="{'checked-color': isChecked[index]}">
                            <!--<img class="card-img-top" src="..." alt="Card image cap">-->
                            <div class="card-body">
                                <input *ngIf="isAdmin" type="checkbox" [checked]="isChecked[index]">
                                <h5 class="card-title text-wrap" style="word-wrap: break-word">{{course.name}}</h5>
                                <p class="card-text text-wrap" style="word-wrap: break-word">{{course.description}}</p>
                                <div class="flex-container">
                                    <a [routerLink]="[course.course_id]" class="btn btn-primary flex-item">Go to Course</a>
                                    <button type="button" (click)="dropCourse(course.course_id)" class="btn btn-danger btn-sm flex-item" *ngIf="courseDrop">Drop Course</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </ng-container>
        </div>
    </ng-container>

    <ng-template #elseBlock class="center-form">
        <p>You have no courses!</p>
        <label>Enroll in courses</label>
        <button routerLink="../course-library" class="btn btn-primary" style="margin-left: 10px">Enroll</button>
    </ng-template>

</div>