<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div id="mySidenav" class="sidenav">
  <a href="/courses">Courses</a>
  <a href="/admin">Admin</a>
  <a href="/leaderboard">Leaderboard</a>
  <a href="/home">Home</a>
</div>

<div id="main">
    <div *ngIf="sidebarIsOpen == false">
    <span (click)="openNav()">&#9776;</span>
    </div>
    <div *ngIf="sidebarIsOpen == true">
    <span (click)="closeNav()">&#9776;</span>
    </div>
    <h2>Dashboard</h2>
    <div class="row">
    <ng-container *ngFor="let course of courses; let i = index">
        <div class="col-sm-2">
            <div class="card" style="max-width: 18rem;">
                <!--<img class="card-img-top" src="..." alt="Card image cap">-->
                <div class="card-body">
                    <h5 class="card-title">{{course.name}}</h5>
                    <p class="card-text">{{course.description}}</p>
                    <a [routerLink]="[course.course_id, 'modules']" class="btn btn-primary">Go to Course</a>
                </div>
            </div>
        </div>
    </ng-container>
    </div>
  
</div>


   
</body>
</html> 
