<div class="center-form">
<form [formGroup]="postForm">

    <div class="form-group">
        <textarea class="form-control" rows="3" [ngClass]="{ 'is-invalid': submitted && p.post.errors }" required formControlName="post" #post></textarea>
        <div *ngIf="submitted && p.post.errors" class="invalid-feedback">
            <div *ngIf="p.post.errors.required">Post cannot be empty</div>
        </div>
    </div>

    <button type="submit" (click)="createPost(post.value)" class="btn btn-primary"><i class="fas fa-plus-circle"></i> Create Post</button>
</form>
</div>