<div class="center-form">
<h2>Create New Course</h2>
<form [formGroup]="courseForm" class="col-sm-4">

    <div class="form-group">
        <label for="name"><span style="color: red">*</span>Name</label>
        <input type="text" class="form-control"  formControlName="name" #name [ngClass]="{ 'is-invalid': submitted && c.name.errors }" required>
        <div *ngIf="submitted && c.name.errors" class="invalid-feedback">
            <div *ngIf="c.name.errors.required">Name is required</div>
        </div>
    </div>

    <div class="form-group">
        <mat-form-field>
            <mat-label>Instructor</mat-label>
            <mat-select formControlName="instructor" [ngClass]="{ 'is-invalid': submitted && c.instructor.errors }" required #instructor>
                <mat-option>None</mat-option>
                <mat-option *ngFor="let instructor of instructors | async" [value]="{id: instructor.id, email: instructor.email}">{{instructor.email}}</mat-option>
            </mat-select>
        </mat-form-field>
        <!--<input type="text" class="form-control"  formControlName="instructor" #instructor [value]="instructor.email" [ngClass]="{ 'is-invalid': submitted && c.instructor.errors }" required>-->
        <div *ngIf="submitted && c.instructor.errors" class="invalid-feedback">
            <div *ngIf="c.instructor.errors.required">Instructor is required</div>
        </div>
    </div>

    <div class="form-group">
        <label for="description"><span style="color: red">*</span>Description</label>
        <textarea class="form-control"  formControlName="description" #description [ngClass]="{ 'is-invalid': submitted && c.description.errors }" required></textarea>
        <div *ngIf="submitted && c.description.errors" class="invalid-feedback">
            <div *ngIf="c.description.errors.required">Description is required</div>
        </div>
    </div>

    <div class="form-group">
        <label for="seats"><span style="color: red">*</span>Number of Seats</label>
        <input type="text" class="form-control"  formControlName="seats" #seats [ngClass]="{ 'is-invalid': submitted && c.seats.errors }" required>
        <div *ngIf="submitted && c.seats.errors" class="invalid-feedback">
            <div *ngIf="c.seats.errors.required">Seats is required</div>
        </div>
    </div>

    <div class="form-group">
        <label for="start_date"><span style="color: red">*</span>Start Date</label>
        <div class="input-group">
            <input class="form-control"
                   name="dp" ngbDatepicker (dateSelect)="onStartDateSelect($event)" #d="ngbDatepicker" formControlName="start_date" #start_date readonly [value]="startDateSelected ? (startDateEvent | async) : (todayDate | async)" [ngClass]="{ 'is-invalid': submitted && c.start_date.errors }" required>
            <div class="input-group-append">
              <button class="btn btn-outline-secondary far fa-calendar-alt" (click)="d.toggle()" type="button"></button>
            </div>
            <div *ngIf="submitted && c.start_date.errors" class="invalid-feedback">
                <div *ngIf="c.start_date.errors.required">Start Date is required</div>
            </div>
        </div>
    </div>

    <div class="form-group" data-provide="datepicker">
        <label for="end_date"><span style="color: red">*</span>End Date</label>
        <div class="input-group">
            <input class="form-control" placeholder="yyyy-mm-dd"
                   name="dp" ngbDatepicker (dateSelect)="onEndDateSelect($event)" #d2="ngbDatepicker" formControlName="end_date" #end_date readonly [value]="endDateSelected ? (endDateEvent | async) : (todayDate | async)" [ngClass]="{ 'is-invalid': submitted && c.end_date.errors }" required>
            <div class="input-group-append">
              <button class="btn btn-outline-secondary far fa-calendar-alt" (click)="d2.toggle()" type="button"></button>
            </div>
            <div *ngIf="submitted && c.end_date.errors" class="invalid-feedback">
                <div *ngIf="c.end_date.errors.required">End Date is required</div>
            </div>
        </div>
    </div>

    <button type="submit" (click)="addCourse(name.value, instructor.value, description.value, seats.value, start_date.value, end_date.value)" class="btn btn-primary"><i class="fas fa-plus-circle"></i> Create Course</button>
    <a routerLink="/admin" class="btn btn-warning"><i class="fas fa-arrow-circle-left"></i> Go Back</a>
</form>
</div>