<nav class="navbar navbar-expand-lg navbar-dark lms-bg">
  <a class="navbar-brand" routerLink="/"><img src="../../../assets/android-chrome-512x512.png" alt="FIU Logo" width="32"
      height="32"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/course-library" routerLinkActive="active">Course-Library</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/courses" routerLinkActive="active">Student Dashboard</a>
      </li>
      <li class="nav-item" *ngIf="isAdmin">
        <a class="nav-link" routerLink="/admin" routerLinkActive="active">Admin</a>
      </li>
    </ul>
  </div>
  <ul class="navbar-nav" *ngIf="currentUserAsync as cu">
    <li class="nav-item">
      <span class="nav-welcome">Hello, {{cu.f_name}} {{cu.l_name}}!</span>
    </li>
    <li class="nav-item">
      <span class="nav-welcome">Role: {{cu.role}}</span>
    </li>
  </ul>
  <!---
    <li class="nav-item" *ngIf="FB_user;">
      <a class="nav-link" (click)="logout()" style="cursor:pointer"><i class="fas fa-sign-out-alt"></i> Logout</a>
    </li>
    
      <li class="nav-item">
        <a class="nav-link" routerLink="/profile" routerLinkActive="active"><i class="fas fa-user"></i>Profile</a>
      </li>
  
      
  
  <ng-template #elseBlock>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/login" routerLinkActive="active"><i class="fas fa-sign-in-alt"></i> Login</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" routerLink="/register" routerLinkActive="active">Sign Up</a>
      </li>
      
    </ul>
    
  </ng-template>
  -->
</nav>