<h2>Courses</h2>

<div class="container">
    <div class="row">
      <div class="col-lg-12">
         <h2>Search for course</h2>
         <input #search type="search" name="search" id="search" placeholder="search course here...." (keyup)="searchCourse(search.value)" matInput [matAutocomplete]="auto">
         <mat-autocomplete #auto="matAutocomplete">
             <mat-option *ngFor="let searchedCourse of searchedCourses" [value]="searchedCourse">
                {{searchedCourse}}
             </mat-option>
         </mat-autocomplete>
      </div>           
    </div>
 </div>

<table class="table">
    <thead>
        <tr>
            <th *ngFor="let colName of displayedColumns" scope="col">{{ colName }}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let course of courses.res">
            <th scope="row">{{ course.id }}</th>
            <td>{{ course.name }}</td>
            <td>{{ course.description }}</td>
            <td>{{ course.seats }}</td>
            <td>{{ course.start_date }}</td>
            <td>{{ course.end_date }}</td>
            <td><button type="submit" (click)="studentEnroll(course.id)" class="btn btn-success">Enroll</button></td>
        </tr>
    </tbody>
</table>

<nav aria-label="Page navigation course-library">
    <ul class="pagination">

        <ng-container *ngIf="page == 0; else elseBlock">
            <li class="page-item disabled"><button class="page-link" (click)="fetchPageCourses(page-1)">Previous</button></li>
        </ng-container>
        <ng-template #elseBlock>
            <li class="page-item"><button class="page-link" (click)="fetchPageCourses(page-1)">Previous</button></li>
        </ng-template>

        <ng-container *ngFor="let maxPages of maxPagesArray; let i = index">
        <li class="page-item"><button class="page-link" (click)="fetchPageCourses(i)">{{i}}</button></li>
        </ng-container>

        <ng-container *ngIf="page == maxPages - 1; else elseBlock2">
            <li class="page-item disabled"><button class="page-link" (click)="fetchPageCourses(page+1)">Next</button></li>
        </ng-container>
        <ng-template #elseBlock2>
            <li class="page-item"><button class="page-link" (click)="fetchPageCourses(page+1)">Next</button></li>
        </ng-template>
        
    </ul>
  </nav>