<button type="button" (click)="signInWithFB()" class="btn btn-primary"><i class="fab fa-facebook"></i>Login</button>
<a href="https://localhost:3000/auth/login" class="btn btn-primary"><i class="fab fa-facebook"></i>Login For Real</a>
<a href="https://localhost:3000/auth/logout" class="btn btn-primary"><i class="fab fa-facebook"></i>Logout</a>

<img src = "{{user.photoUrl}}" *ngIf="loggedIn===true">
<div>
  <h4 *ngIf="loggedIn===true">{{user.name}}</h4>
  <p *ngIf="loggedIn===true">{{user.email}}</p>
</div>