<!--<a href="../../../../assets/favicon-32x32.png" download="favicon-32x32">Download it!</a>-->
<app-sidebar></app-sidebar>
<div id="main">
  <app-sidebar-button></app-sidebar-button>

<div class="progress" style="height: 30px">
    <div class="progress-bar progress-bar-striped" id="progressbar" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">{{points}}%</div>
</div>
<div class="flexbox-row">
    <div *ngIf="currentUser && (isAdmin || isInstructor)">
        <button (click)="createModule(courseId)" class="btn btn-success"><i class="fas fa-plus-circle"></i> Create Module</button>
    </div>
    <div class="flexbox-container" *ngFor="let module of modules; let index = index">
        <ng-container *ngIf="!moduleLocked[index] || isAdmin || isInstructor; else lockedBlock">
        <!---->
            <div class="flexbox-options">

                <!--FORM CONTENT IN MODAL FOR VIDEO ADD-->
                <ng-template #content let-modal>
                    <div class="modal-header">
                        <h4 class="modal-title">Add Youtube Video</h4>
                        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form [formGroup]="videoForm" class="col-9">

                            <div class="form-group">
                                <label>Link</label>
                                <input type="text" class="form-control"  formControlName="link" #link>
                            </div>
                        
                            <button *ngIf="isAdmin || isInstructor" type="submit" (click)="addVideo(link.value, module.module_id)" class="btn btn-primary"><i class="fas fa-plus-circle"></i> Add Video</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
                    </div>
                </ng-template>
                <button *ngIf="isAdmin || isInstructor" class="btn btn-success" (click)="open(content)">Add Video</button>
                <!--END OF FORM CONTENT IN MODAL FOR VIDEO ADD-->

                <!--FORM CONTENT IN MODAL FOR PDF ADD-->
                <ng-template #contentpdf let-modal>
                    <div class="modal-header">
                        <h4 class="modal-title">Add PDF File</h4>
                        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <form [formGroup]="pdfForm" (ngSubmit)="addPdf(module.module_id)"class="col-9" method="POST" enctype="multipart/form-data">

                            <div class="form-group">
                                <label>Select a PDF File</label>
                                <input id="theFile" type="file" class="form-control" name="pdf" #file (change)="handleFileInput($event)">
                            </div>
                        
                            <button type="submit" class="btn btn-primary"><i class="fas fa-plus-circle"></i> Add PDF</button>
                        </form>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
                    </div>
                </ng-template>
                <button *ngIf="isAdmin || isInstructor" class="btn btn-success" (click)="open(contentpdf)">Add PDF</button>
                <!--END OF FORM CONTENT IN MODAL FOR PDF ADD-->

                <button *ngIf="isAdmin || isInstructor" class="btn btn-success">Add Quiz/Test</button>
            </div>

            <!--CONTENT IN EACH MODULE-->
            <div class="flexbox-item" *ngIf="!toggleContent[index]; else moduleBlock" (click)="openModule(index)" style="cursor:pointer">
                <i class="fas fa-caret-right"></i> <strong>Module {{ module.module_number }} </strong>| {{ module.module_title }}
            </div>
            <ng-template #moduleBlock>
                <div class="flexbox-item" (click)="openModule(index)" style="cursor:pointer">
                    <i class="fas fa-caret-down"></i> <strong>Module {{ module.module_number }} </strong>| {{ module.module_title }}
                </div>
            </ng-template>
            <div class="flexbox-subcontainer" *ngIf="toggleContent[index]">
                <!--RESOURCES PDF CONTENT-->
                <div class="flexbox-resources" *ngFor="let pdf of safePdfs | keyvalue; let index = index">
                    <div *ngIf="pdf.key == module.module_id">
                        <div class="flexbox-resources-inner" *ngFor="let innerpdf of pdf.value; let j = index">
                            <i class="fas fa-paperclip"></i>

                            <ng-template #contentPdf let-modal>
                                <div class="modal-header">
                                    <h4 class="modal-title">{{module.module_title}} - Pdf {{j + 1}}</h4>
                                    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" width="780" height="480" [src]="innerpdf.pdf"></iframe>
                                        <!--<a [href]="innerpdf.pdf">Link</a>-->
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
                                </div>
                            </ng-template>
                            <button class="btn btn-primary" (click)="open(contentPdf)">View Pdf {{j + 1}}</button>
                            <button *ngIf="isAdmin || isInstructor" class="btn btn-danger flexbox-module-options" (click)="deletePDF(innerpdf.pdf_id)">Delete Pdf</button>

                            <!--FORM CONTENT IN MODAL FOR PDF EDIT-->
                            <ng-template #contentPdfUpdate let-modal>
                            <div class="modal-header">
                                <h4 class="modal-title">Edit PDF</h4>
                                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form [formGroup]="updatePdfForm" (ngSubmit)="updatePDF(innerpdf.pdf_id, module.module_id)"class="col-9" method="POST" enctype="multipart/form-data">

                                    <div class="form-group">
                                        <label>Select a PDF File</label>
                                        <input id="theFile" type="file" class="form-control" name="pdf" #file (change)="handleFileInputUpdate($event)">
                                    </div>
                                
                                    <button type="submit" class="btn btn-primary"><i class="fas fa-plus-circle"></i> Update PDF</button>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
                            </div>
                        </ng-template>
                        <button *ngIf="isAdmin || isInstructor" class="btn btn-success flexbox-module-options" (click)="openUpdatePDF(contentPdfUpdate, innerpdf.pdf)">Edit PDF</button>
                        <!--END OF FORM CONTENT IN MODAL FOR PDF EDIT-->

                        </div>
                    </div>
                </div>
                <!--END OF RESOURCES PDF CONTENT-->

                <!--YOUTUBE LINKS CONTENT-->
                <div class="flexbox-links" *ngFor="let link of safeLinks | keyvalue; let index = index">
                    <div *ngIf="link.key == module.module_id">
                        <div class="flexbox-links-inner" *ngFor="let innerlink of link.value; let j = index">
                            <i class="fab fa-youtube"></i>    

                            <ng-template #content let-modal>
                                <div class="modal-header">
                                    <h4 class="modal-title">{{module.module_title}} - Video {{j + 1}}</h4>
                                    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" width="780" height="480" [src]="innerlink.videoUrl" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
                                </div>
                            </ng-template>
                            <button class="btn btn-primary" (click)="open(content)">Watch Video {{j + 1}}</button>
                            <button *ngIf="isAdmin || isInstructor" class="btn btn-danger flexbox-module-options" (click)="deleteVideo(innerlink.video_id)">Delete Video</button>

                            <!--FORM CONTENT IN MODAL FOR VIDEO EDIT-->
                            <ng-template #contentVideoUpdate let-modal>
                                <div class="modal-header">
                                    <h4 class="modal-title">Edit Youtube Video</h4>
                                    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form [formGroup]="updateVideoForm" class="col-9">
            
                                        <div class="form-group">
                                            <label>New Link</label>
                                            <input type="text" class="form-control form-control-lg" formControlName="linkInput" #linkInput>
                                        </div>
                                    
                                        <button type="submit" (click)="updateVideo(linkInput.value, innerlink.video_id)" class="btn btn-primary"><i class="fas fa-plus-circle"></i> Update Video</button>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
                                </div>
                            </ng-template>
                            <button *ngIf="isAdmin || isInstructor" class="btn btn-success flexbox-module-options" (click)="openUpdateVideo(contentVideoUpdate, innerlink.url)">Edit Video</button>
                            <!--END OF FORM CONTENT IN MODAL FOR VIDEO EDIT-->
                        </div>
                    </div>
                </div>
                <!--END OF YOUTUBE LINKS CONTENT-->

                <!--QUIZZES CONTENT-->
                <div class="flexbox-quizzes" *ngFor="let quiz of quizzes">
                    <i class="fas fa-paper-plane"></i> {{quiz}}
                </div>
                <!--END OF QUIZZES CONTENT-->

            </div>  
            <div class="flexbox-item-module-actions" *ngIf="currentUser">
                <button *ngIf="isAdmin || isInstructor" type="button" (click)="editModule(module.course_id, module.module_id)" class="btn btn-primary"><i class="fas fa-edit"></i> Edit</button>
                <button *ngIf="isAdmin || isInstructor" type="button" (click)="deleteModule(module.module_id, module.module_number)" class="btn btn-danger"><i class="fas fa-minus-circle"></i> Delete</button>
            </div>
            <!--END OF CONTENT IN EACH MODULE-->
        </ng-container>

            <ng-template #lockedBlock>
                <div class="flexbox-item" (click)="openModule(index)" style="cursor: not-allowed; opacity: 0.5;">
                    <i class="fas fa-caret-right"></i> <strong>Module {{ module.module_number }} </strong>| {{ module.module_title }}
                </div>
            </ng-template>
    </div>
</div>

</div>
<!--<video
    id="vid1"
    class="vjs-matrix video-js"
    controls
    width="854" height="480"
    data-setup='{ 
        "techOrder": ["youtube"],
        "sources": [{ "type": "video/youtube", "src": "https://youtu.be/zpOULjyy-n8"}],
        "playbackRates": [0.5, 1, 1.5, 2]
        }'
>
</video>-->

