<div *ngIf="currentUser">
    <button (click)="createModule(courseId)" class="btn btn-success">Create Module</button>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col" *ngIf="currentUser">Actions</th>
        </tr>
    </thead>
    <tbody>
    <tr *ngFor="let module of modules">
        <th scope="row">Module {{ module.module_number }}</th>
        <td>{{ module.module_title }}</td>
        <td>
            <button type="button" (click)="editModule(module.course_id, module.module_id)" class="btn btn-primary">Edit</button>
            <button type="button" (click)="deleteModule(module.module_id, module.module_number)" class="btn btn-danger">Delete</button>
        </td>
    </tr>
    </tbody>
</table>
