$base-color: #d9deff;

/*.flexbox-row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}*/

.flexbox-container{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    /*height: 50px;*/
    width: 600px;
    padding: 20px;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(236, 236, 236);
    border-left: solid black 1px;
    border-right: solid black 1px;
    border-bottom: dotted gray 1px;
}

.flexbox-options {
    align-self: flex-end;
}

.flexbox-item {
    align-self: stretch;
    background-color: transparent;
    border: solid black 1px;
}

.flexbox-item-module-actions {
    align-self: flex-start;
    background-color: transparent;
    border: solid black 1px;
}

.flexbox-subcontainer {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    width: 560px;
    justify-content: center;
    align-items: flex-start;
    background-color: rgb(250, 250, 250);
}

.flexbox-module-options {
    float: right;
}

.flexbox-links{
    align-self: stretch;

    .flexbox-links-inner {
        align-self: stretch;
        border: solid black 1px;

        &:hover {
            background-color: $base-color;
        }
    }
}

.flexbox-resources {
    align-self: stretch;

    .flexbox-resources-inner {
        align-self: stretch;
        border: solid black 1px;

        &:hover {
            background-color: $base-color;
        }
    }
}

.flexbox-quizzes {
    align-self: stretch;
    border: solid black 1px;
}

.flexbox-quizzes:hover {
    background-color: $base-color;
}
