<app-sidebar></app-sidebar>
<div id="main">
  <app-sidebar-button></app-sidebar-button>


<div class="flexbox-row">
    <div class="flexbox-top-container">

        <!-- Progress Bars -->
        <div class="align-self-stretch">
            <span>Your Points</span>
            <div class="progress flexbox-progress-bar flexbox-top-options" style="height: 30px;">
                <div class="progress-bar progress-bar-striped" id="progressbar" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">{{points}}%</div>
            </div>
        </div>

        <div style="align-self: stretch">
            <span>Class Average Points</span>
            <div class="progress flexbox-progress-bar flexbox-top-options" style="height: 30px;">
                <div *ngIf="averagePoints" class="progress-bar progress-bar-striped bg-info" id="progressbarAvg" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">{{averagePoints.average}}%</div>
            </div>
        </div>
        <!-- End Progress Bars -->

        <div *ngIf="currentUser && (isAdmin || isInstructor)">
            <button (click)="createModule(courseId)" class="btn btn-success"><i class="fas fa-plus-circle"></i> Create Module</button>
        </div>
    </div>
    <div class="flexbox-container" *ngFor="let module of modules; let index = index">
        <ng-container *ngIf="!moduleLocked[index] || isAdmin || isInstructor; else lockedBlock">
            <span *ngIf="!moduleLocked[index] && (isAdmin || isInstructor); else lockedBlock0"style="color: blue;">locked until: {{module.lockedUntil}}</span>
            <ng-template #lockedBlock0>
                <span *ngIf="isAdmin || isInstructor" style="color: red">locked until: {{module.lockedUntil}}</span>
            </ng-template>
            <div class="flexbox-options">

                <!--FORM CONTENT IN MODAL FOR VIDEO ADD-->
                <ng-template #contentVideoAdd let-modal>
                    <div class="modal-header">
                        <h4 class="modal-title">Add Youtube Video</h4>
                        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form [formGroup]="videoForm" class="col-9">

                            <div class="alert alert-info">
                                <p>Valid youtube links are of the formats:<br> https://youtu.be/*********** <br>And <br>https://www.youtube.com/watch?v=***********</p>
                            </div>

                            <div class="form-group">
                                <label for="link"><span style="color: red">*</span>Link</label>
                                <input type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && v.link.errors, 'is-valid': validLink }" required formControlName="link" #link (keyup)="handleValidLink($event)">
                                <div *ngIf="submitted && v.link.errors" class="invalid-feedback">
                                    <div *ngIf="v.link.errors.required">Link is required</div>
                                </div>
                                <div *ngIf="validLink" class="valid-feedback">
                                    Valid youtube link
                                </div>
                            </div>

                            <div *ngIf="invalidLink && !validLink" class="alert alert-danger">
                                Invalid Youtube Link
                            </div>
                        


                            <button *ngIf="isAdmin || isInstructor" type="submit" (click)="addVideo(link.value, module.module_id)" class="btn btn-primary"><i class="fas fa-plus-circle"></i> Add Video</button>
                            <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
                    </div>
                </ng-template>
                <button *ngIf="isAdmin || isInstructor" class="btn btn-success" (click)="open(contentVideoAdd)">Add Video</button>
                <!--END OF FORM CONTENT IN MODAL FOR VIDEO ADD-->

                <!--FORM CONTENT IN MODAL FOR PDF ADD-->
                <ng-template #contentPdfAdd let-modal>
                    <div class="modal-header">
                        <h4 class="modal-title">Add PDF File</h4>
                        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <form [formGroup]="pdfForm" (ngSubmit)="addPdf(module.module_id)"class="col-9" method="POST" enctype="multipart/form-data">

                            <div class="form-group">
                                <label for="pdf"><span style="color: red">*</span>Select a PDF File</label>
                                <input id="theFile" type="file" class="form-control" [ngClass]="{ 'is-invalid': submitted && p.pdf.errors }" name="pdf" #file (change)="handleFileInput($event)" required>
                                <div *ngIf="submitted && p.pdf.errors" class="invalid-feedback">
                                    <div *ngIf="p.pdf.errors.required">Pdf is required</div>
                                </div>
                            </div>

                        
                            <button type="submit" class="btn btn-primary"><i class="fas fa-plus-circle"></i> Add PDF</button>
                        </form>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
                    </div>
                </ng-template>
                <button *ngIf="isAdmin || isInstructor" class="btn btn-success" (click)="open(contentPdfAdd)">Add PDF</button>
                <!--END OF FORM CONTENT IN MODAL FOR PDF ADD-->

                <!--FORM CONTENT IN MODAL FOR SURVEY ADD-->
                <ng-template #contentSurveyAdd let-modal>
                    <div class="modal-header">
                        <h4 class="modal-title">Add Qualtrics Quiz/Exam</h4>
                        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form [formGroup]="surveyForm" class="col-9">

                            <div class="alert alert-info">
                                <p>Valid Qualtrics links are of the formats:<br> https://fiu.qualtrics.com/jfe/form/******************</p>
                            </div>

                            <div class="form-group">
                                <label for="name"><span style="color: red">*</span>Name</label>
                                <input type="text" class="form-control"  formControlName="name" #name [ngClass]="{ 'is-invalid': submitted && s.name.errors }" required>
                                <div *ngIf="submitted && s.name.errors" class="invalid-feedback">
                                    <div *ngIf="s.name.errors.required">Name is required</div>
                                </div>
                            </div>


                            <div class="form-group">
                                <label for="link"><span style="color: red">*</span>Link</label>
                                <input type="text" class="form-control"  formControlName="link" #link [ngClass]="{ 'is-invalid': submitted && s.link.errors, 'is-valid': validQuiz }" required (keyup)="handleValidQuiz($event)">
                                <div *ngIf="submitted && s.link.errors" class="invalid-feedback">
                                    <div *ngIf="s.link.errors.required">Link is required</div>
                                </div>
                                <div *ngIf="validQuiz" class="valid-feedback">
                                    Valid Qualtrics link
                                </div>
                            </div>

                            <div *ngIf="invalidQuiz && !validQuiz" class="alert alert-danger">
                                Invalid Qualtrics Link
                            </div>
                        
                            <button *ngIf="isAdmin || isInstructor" type="submit" (click)="addSurvey(name.value, link.value, module.module_id)" class="btn btn-primary"><i class="fas fa-plus-circle"></i> Add Quiz/Exam</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
                    </div>
                </ng-template>
                <button *ngIf="isAdmin || isInstructor" class="btn btn-success" (click)="open(contentSurveyAdd)">Add Quiz/Exam</button>
                <!--END OF FORM CONTENT IN MODAL FOR SURVEY ADD-->

            </div>

            <!--CONTENT IN EACH MODULE-->
            <div class="flexbox-item" *ngIf="!toggleContent[index]; else moduleBlock" (click)="openModule(index)" style="cursor:pointer">
                <i class="fas fa-caret-right"></i> <strong>Module {{ module.module_number }} </strong>| {{ module.module_title }}
            </div>
            <ng-template #moduleBlock>
                <div class="flexbox-item" (click)="openModule(index)" style="cursor:pointer">
                    <i class="fas fa-caret-down"></i> <strong>Module {{ module.module_number }} </strong>| {{ module.module_title }}
                </div>
            </ng-template>
            <div class="flexbox-subcontainer" *ngIf="toggleContent[index]">
                <!--RESOURCES PDF CONTENT-->
                <div class="flexbox-resources" *ngFor="let pdf of safePdfs | keyvalue; let index = index">
                    <div *ngIf="pdf.key == module.module_id">
                        <div class="flexbox-resources-inner" *ngFor="let innerpdf of pdf.value; let j = index">
                            <i class="fas fa-paperclip"></i>

                            <ng-template #contentPdf let-modal>
                                <div class="modal-header">
                                    <h4 class="modal-title">{{module.module_title}} - Pdf {{j + 1}}</h4>
                                    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" width="780" height="480" [src]="innerpdf.pdf"></iframe>
                                        <!--<a [href]="innerpdf.pdf">Link</a>-->
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
                                </div>
                            </ng-template>
                            <button class="btn btn-primary" (click)="open(contentPdf)">View Pdf {{j + 1}}</button>
                            <button *ngIf="isAdmin || isInstructor" class="btn btn-danger flexbox-module-options" (click)="deletePDF(innerpdf.pdf_id, j)">Delete Pdf</button>

                            <!--FORM CONTENT IN MODAL FOR PDF EDIT-->
                            <ng-template #contentPdfUpdate let-modal>
                            <div class="modal-header">
                                <h4 class="modal-title">Edit PDF</h4>
                                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form [formGroup]="updatePdfForm" (ngSubmit)="updatePDF(innerpdf.pdf_id, module.module_id)"class="col-9" method="POST" enctype="multipart/form-data">

                                    <div class="form-group">
                                        <label for="pdf"><span style="color: red">*</span>Select a PDF File</label>
                                        <input id="theFile" type="file" class="form-control" name="pdf" #file (change)="handleFileInputUpdate($event)" [ngClass]="{ 'is-invalid': submitted && pu.pdf.errors }" required>
                                        <div *ngIf="submitted && pu.pdf.errors" class="invalid-feedback">
                                            <div *ngIf="pu.pdf.errors.required">Pdf is required</div>
                                        </div>
                                    </div>
                                
                                    <button type="submit" class="btn btn-primary"><i class="fas fa-plus-circle"></i> Update PDF</button>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
                            </div>
                        </ng-template>
                        <button *ngIf="isAdmin || isInstructor" class="btn btn-success flexbox-module-options" (click)="openUpdatePDF(contentPdfUpdate, innerpdf.rawPdf)">Edit PDF</button>
                        <!--END OF FORM CONTENT IN MODAL FOR PDF EDIT-->

                        </div>
                    </div>
                </div>
                <!--END OF RESOURCES PDF CONTENT-->

                <!--YOUTUBE LINKS CONTENT-->
                <div class="flexbox-links" *ngFor="let link of safeLinks | keyvalue; let index = index">
                    <div *ngIf="link.key == module.module_id">
                        <div class="flexbox-links-inner" *ngFor="let innerlink of link.value; let j = index">
                            <i class="fab fa-youtube"></i>    

                            <ng-template #contentVideo let-modal>
                                <div class="modal-header">
                                    <h4 class="modal-title">{{module.module_title}} - Video {{j + 1}}</h4>
                                    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" width="780" height="480" [src]="innerlink.videoUrl" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
                                </div>
                            </ng-template>
                            <button class="btn btn-primary" (click)="open(contentVideo)">Watch Video {{j + 1}}</button>
                            <button *ngIf="isAdmin || isInstructor" class="btn btn-danger flexbox-module-options" (click)="deleteVideo(innerlink.video_id, j)">Delete Video</button>

                            <!--FORM CONTENT IN MODAL FOR VIDEO EDIT-->
                            <ng-template #contentVideoUpdate let-modal>
                                <div class="modal-header">
                                    <h4 class="modal-title">Edit Youtube Video</h4>
                                    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form [formGroup]="updateVideoForm" class="col-9">
            
                                        <div class="alert alert-info">
                                            <p>Valid youtube links are of the formats:<br> https://youtu.be/*********** <br>And <br>https://www.youtube.com/watch?v=***********</p>
                                        </div>

                                        <div class="form-group">
                                            <label for="linkInput"><span style="color: red">*</span>New Link</label>
                                            <input type="text" class="form-control form-control-lg" formControlName="linkInput" #linkInput [ngClass]="{ 'is-invalid': submitted && vu.linkInput.errors, 'is-valid': validLink }" required (keyup)="handleValidLink($event)">
                                            <div *ngIf="submitted && vu.linkInput.errors" class="invalid-feedback">
                                                <div *ngIf="vu.linkInput.errors.required">Link is required</div>
                                            </div>
                                            <div *ngIf="validLink" class="valid-feedback">
                                                Valid youtube link
                                            </div>
                                        </div>

                                        <div *ngIf="invalidLink && !validLink" class="alert alert-danger">
                                            Invalid Youtube Link
                                        </div>
                                    
                                        <button type="submit" (click)="updateVideo(linkInput.value, innerlink.video_id)" class="btn btn-primary"><i class="fas fa-plus-circle"></i> Update Video</button>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
                                </div>
                            </ng-template>
                            <button *ngIf="isAdmin || isInstructor" class="btn btn-success flexbox-module-options" (click)="openUpdateVideo(contentVideoUpdate, innerlink.url)">Edit Video</button>
                            <!--END OF FORM CONTENT IN MODAL FOR VIDEO EDIT-->
                        </div>
                    </div>
                </div>
                <!--END OF YOUTUBE LINKS CONTENT-->

                <!--QUIZZES LINKS CONTENT-->
                <div class="flexbox-links" *ngFor="let survey of safeSurveys | keyvalue; let index = index">
                    <div *ngIf="survey.key == module.module_id">
                        <div class="flexbox-links-inner" *ngFor="let surveyObject of survey.value; let j = index">
                            <i class="fas fa-paper-plane"></i>    

                            <ng-template #contentSurvey let-modal>
                                <div class="modal-header">
                                    <h4 class="modal-title">{{module.module_title}} - {{surveyObject.name}}</h4>
                                    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" width="780" height="480" [src]="surveyObject.surveyUrl" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
                                </div>
                            </ng-template>
                            <button class="btn btn-primary" (click)="open(contentSurvey)">Take Quiz {{j + 1}}</button>
                            <button *ngIf="isAdmin || isInstructor" class="btn btn-danger flexbox-module-options" (click)="deleteSurvey(surveyObject.survey_id, j)">Delete Quiz/Exam</button>

                            <!--FORM CONTENT IN MODAL FOR QUIZ EDIT-->
                            <ng-template #contentSurveyUpdate let-modal>
                                <div class="modal-header">
                                    <h4 class="modal-title">Edit Quiz/Exam</h4>
                                    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form [formGroup]="updateSurveyForm" class="col-9">
            
                                        <div class="alert alert-info">
                                            <p>Valid Qualtrics links are of the formats:<br> https://fiu.qualtrics.com/jfe/form/******************</p>
                                        </div>
                                        
                                        <div class="form-group">
                                            <label for="name"><span style="color: red">*</span>New Name</label>
                                            <input type="text" class="form-control form-control-lg" formControlName="name" #name [ngClass]="{ 'is-invalid': submitted && su.name.errors }" required>
                                            <div *ngIf="submitted && su.name.errors" class="invalid-feedback">
                                                <div *ngIf="su.name.errors.required">Name is required</div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="link"><span style="color: red">*</span>New Link</label>
                                            <input type="text" class="form-control form-control-lg" formControlName="link" #link [ngClass]="{ 'is-invalid': submitted && su.link.errors, 'is-valid': validQuiz }" required (keyup)="handleValidQuiz($event)">
                                            <div *ngIf="submitted && su.link.errors" class="invalid-feedback">
                                                <div *ngIf="su.link.errors.required">Link is required</div>
                                            </div>
                                            <div *ngIf="validQuiz" class="valid-feedback">
                                                Valid Qualtrics link
                                            </div>
                                        </div>

                                        <div *ngIf="invalidQuiz && !validQuiz" class="alert alert-danger">
                                            Invalid Qualtrics Link
                                        </div>
                                    
                                        <button type="submit" (click)="updateSurvey(name.value, link.value, surveyObject.survey_id)" class="btn btn-primary"><i class="fas fa-plus-circle"></i> Update Quiz/Exam</button>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
                                </div>
                            </ng-template>
                            <button *ngIf="isAdmin || isInstructor" class="btn btn-success flexbox-module-options" (click)="openUpdateSurvey(contentSurveyUpdate, surveyObject.name, surveyObject.url)">Edit Quiz/Exam</button>
                            <!--END OF FORM CONTENT IN MODAL FOR QUIZ EDIT-->
                        </div>
                    </div>
                </div>
                <!--END OF QUIZZES LINKS CONTENT-->

            </div>  
            <div class="flexbox-item-module-actions" *ngIf="currentUser">
                <button *ngIf="isAdmin || isInstructor" type="button" (click)="editModule(module.course_id, module.module_id)" class="btn btn-primary"><i class="fas fa-edit"></i> Edit</button>
                <button *ngIf="isAdmin || isInstructor" type="button" (click)="deleteModule(module.module_id, module.module_number)" class="btn btn-danger"><i class="fas fa-minus-circle"></i> Delete</button>
            </div>
            <!--END OF CONTENT IN EACH MODULE-->
        </ng-container>

            <ng-template #lockedBlock>
                <span style="color: red;">locked until: {{module.lockedUntil}}</span>
                <div class="flexbox-item" (click)="openModule(index)" style="cursor: not-allowed; opacity: 0.5;">
                    <i class="fas fa-caret-right"></i> <strong>Module {{ module.module_number }} </strong>| {{ module.module_title }}
                </div>
            </ng-template>
    </div>
</div>

</div>