<ng-template #contentPostEdit let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Edit Your Post</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="editPostForm" class="col-9">

            <div class="form-group">
                <label for="post">Post</label>
                <textarea class="form-control" rows="3" [ngClass]="{ 'is-invalid': submitted && up.post.errors }" required formControlName="post" #post></textarea>
                <div *ngIf="submitted && up.post.errors" class="invalid-feedback">
                    <div *ngIf="up.post.errors.required">Post is required</div>
                </div>
            </div>
        


            <button type="submit" (click)="updatePost(post.value)" class="btn btn-primary"><i class="fas fa-plus-circle"></i> Update Post</button>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>
<button class="btn btn-success" (click)="open(contentPostEdit)">Edit Post</button>
