<div id="mySidenav" class="sidenav">
    <a class="nav-link" id="home" [routerLink]="['/courses', courseId]" routerLinkActive="active">Home</a>
    <a class="nav-link" id="modules" routerLink="/courses/{{courseId}}/modules" routerLinkActive="active">Modules</a>
    <a class="nav-link" id="announcements" routerLink="/courses/{{courseId}}/announcements" routerLinkActive="active">Announcements</a>
    <a class="nav-link" id="leaderboard"routerLink="/courses/{{courseId}}/leaderboard" routerLinkActive="active">Leaderboard</a>   
</div>