<div id="mySidenav" class="sidenav">
    <a class="nav-link" [routerLink]="['/courses', courseId]" routerLinkActive="active">Home</a>
    <a class="nav-link" routerLink="/courses" routerLinkActive="active">Courses</a>
    <a class="nav-link" routerLink="/admin" routerLinkActive="active">Admin</a>
    <a class="nav-link" routerLink="/courses/{{courseId}}/leaderboard" routerLinkActive="active">Leaderboard</a>
    <a class="nav-link" routerLink="/courses/{{courseId}}/modules" routerLinkActive="active">Modules</a>
</div>